<div id="whos-that-pokemon">
  <div id="silhouette">
    <div>
      Who's that Pokemon?
    </div>

    <div>
      <%= image_tag pokemon["sprites"]["silhouette"]["male"]["front"] %> 
    </div>
  </div>

  <div id="pokemon">
    <div>
      It's <%= pokemon["identifier"].capitalize %>!
    </div>

    <div>
      <%= image_tag pokemon["sprites"]["normal"]["male"]["front"] %> 
    </div>
  </div>

  <div>
    (click image to reveal)
  </div>
</div>
