<h3>
  PokeQL: A BETA GraphQL Pokemon API
</h3>

<div class="query-sandbox">
  <%= link_to "Query Tester", graphiql_rails_url %><br><br>
  Requests should be made using <%= Rails.application.config.url %>/v1
</div>

<div class="notice">
  This API is in beta so endpoints may be changed without notice.
</div>

<div>
  Data sourced from <%= link_to "pokeapi.co", "//pokeapi.co" %><br>
  PokeQL is in no way affiliated or endorsed by PokeAPI.
</div>

<div>
  Built by <%= link_to "Josh Dunn", "//github.com/joshddunn" %>
</div>
