body {
  text-align: center;
}

.query-sandbox, .signature {
  margin: 20px 0px;
}

.notice {
  margin: 20px 0px;
  font-style: italic;
}

#whos-that-pokemon {
  width: 150px;
  margin: 20px auto;
  cursor: pointer;

  #silhouette {
  }

  #pokemon {
    display: none;
  }
}
